.discovery {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
  }

  .discovery-cover {
    max-width: 200vh;
    height: 60vh;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px;
    position: relative;
    display: flex;
  }

    .discovery-cover-image {
        height: 60vh;
        width: 200vh;
        background-image: url("../../../public/imgs/elden-ring-wide.jpg");
        background-size: 60%;
        background-position: center;
        top: -40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* Scrolls entire element. Should scroll image only */
        /* animation: scroll 15s linear infinite; */
    }

    .discovery-cover-image::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* Fade effect */
        background: 
          linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgba(255,255,255,1)),
          linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0) 20%); 
        pointer-events: none;
      }


    @keyframes scroll {
        0% {
        transform: translateX(0);
        }
        100% {
        transform: translateX(-50%);
        }
    }

    .discovery-cover-button {
        width: 200px;
        padding: 10px 20px;
        font-size: 1.1rem;
        background-color: #ff4500;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .discovery-cover-button:hover {
        background-color: #ff6a33;
    }

  .discovery h2 {
    text-align: left;
    margin-bottom: 30px;
    color: #333;
  }

  .discovery p {
    text-align: center;
  }

  .games h2 {
    text-align: center;
  }
  
  .game-list {
    text-decoration: none;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
    .game-card {
        text-decoration: none;
        text-align: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.3s ease;
    }
  
    .game-card:hover {
      text-decoration: none;
        transform: translateY(-5px);
    }
  
        .game-image {
            width: 100%;
            height: 75%;
            object-fit: cover;
        }
  
        .game-info {
            text-decoration: none;
            padding: 15px;
        }
    
        .game-info h3 {
            margin: 0 0 10px 0;
            font-size: 1.2em;
            color: #333;
        }
        
        .game-info p {
            text-decoration: none;
            margin: 0;
            color: #666;
        }

  .categories {
      margin: 50px auto
  }

    .categories h2 {
      text-align: center;
    }

  .why-us {
    max-width: 1200px;
    margin: 100px auto;
  }