.game-page-wrapper {
  width: 60%;
  margin-top: 100px;
  margin-left: 75px;
  padding: 1rem;
  background-color: #272727;
  border-radius: 8px;
}

.game-page-wrapper h1 {
  color: white;
}

.game-page-wrapper p {
  color: white;
  opacity: 80%;
}

.game-page {
  display: flex;
  align-items: flex-start;
}

.game-page-image {
  margin-right: 20px;
}

.game-text p {
  margin: 10px 0 10px 0;
}
