@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap');


html,
body {
  font-family: 'Press Start 2P', system-ui;
  background-color: #111111;
  margin: 0;
}

.library-container {
  padding-left: 60px;
  padding-right: 60px;
}

.library-title {
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
}

.game-status {
  color: white;
  opacity: 80%;
  font-weight: 400;
  margin-top: 50px;
}

.gameList {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #6d5e96;
  padding: 0;
  /* background-color: white; */
}

ul {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  padding: 0;
  list-style-type: none;
}

li {
  margin-top: 8px;
  margin-bottom: 8px;
}


/* .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: none;
}

.popup-overlay.visible {
  display: block;
} */
